/* Header */
#teamTitle {
    margin: 2rem;
    font-size: 30px;
  }
  
  /* Team cards */
  main {
    padding: 0 1rem;
  }
  
  #meetTheTeam {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  
  #meetTheTeam > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style: none;
  }
  
  #meetTheTeam article figure img {
    width: 100%;
  }
  
  #meetTheTeam > ul > li {
    background-color: var(--lightblue);
    color: var(--white);
    max-width: 300px;
    margin: 0 10px;
    flex: 1;
  }
  
  #meetTheTeam > article > h3 {
    margin: 1rem 0;
    text-align: center;
    font-size: 2rem;
  }
  
  img {
    max-width: 100%;
    padding: 5px;
  }
  
  .teamName {
    font-size: 30px;
    margin-bottom: 1rem;
  }
  
  #meetTheTeam > article > p {
    padding: 0 1rem;
    height: 150px;
    overflow: hidden;
  }
  
  #meetTheTeam article ul {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  #meetTheTeam article ul a.fa-brands {
    font-size: 50px;
    text-decoration: none;
    color: var(--purple);
  }
  
  #meetTheTeam li {
    flex: 1;
    margin: 0 10px;
  }