

/* header */
#teamTitle{
    margin: 2rem;
    font-size: 30px;
}

/* team cards */

main{
    padding: 0 1rem;
}
#meetTheTeam{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

#meetTheTeam > ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

#meetTheTeam article figure img{
width: 100%;
}

#meetTheTeam > ul > li{
    background-color: var(--lightblue);
    color: var(--white);
    max-width: 300px;
}


#meetTheTeam > article > h3{
    margin: 1rem 0;
    text-align: center;
    font-size: 2rem;
}

img{
    max-width: 100%;;
    padding: 5px;
}

.teamName{
    font-size: 30px;
    margin-bottom: 1rem;
}
p{
    margin: 10px;
}


#meetTheTeam > article > p{
    padding: 0 1rem;
}

#meetTheTeam article ul{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

#icons{
    margin-left: 10px;
}

/* #meetTheTeam article ul a.linkedin{
background-image: url(../img/LI-In-Bug.png);
}

*/
#meetTheTeam article ul a.fa-brands{
font-size: 50px;
text-decoration: none;
color: var(--purple);
}