/* formato del footer*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(92,70,156);
    width: 100vw;
    height: 2rem;
    bottom: 0;
    /* el bottom:0 es el que permite que el footer se mantenga abajo siempre */
}