@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;500;700;900&display=swap');
/* este import da el font a todas las paginas */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* dandole formato al titulo*/

header{
    text-align: center;
}

#title {
    display: flex;
    justify-content: center;
    background-color: var(--lightblue);
    border: 0;
    margin: 0;
    padding: 1rem;
    font-size: 50px;
    font-weight: 800;
}

/*formateando el menu */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    background-color: var(--purple);
    font-size: 20px;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
}

.menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 800;
    color: var(--white);
    /*quitar el azul de link visitado con JS las letras del menu deben ser blancas*/
}
