*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Eliminando bordes y padding para que todo este pegado al margen de la ventana. */

/* header */
#teamTitle{
    margin: 2rem;
    font-size: 30px;
}

/* team cards */

main{
    padding: 0 1rem;
}
#meetTheTeam{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

#meetTheTeam > ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

#meetTheTeam article figure img{
width: 100%;
}

#meetTheTeam > ul > li{
    background-color: var(--lightblue);
    color: var(--white);
    max-width: 300px;
}

/* formato del nombre de la tarjeta */
#meetTheTeam > article > h3{
    margin: 1rem 0;
    text-align: center;
    font-size: 2rem;
}

/* formateando las fotos */
img{
    max-width: 100%;;
    padding: 5px;
}

/* dandole tamanho al nombre de cada tarjeta */
.teamName{
    font-size: 30px;
    margin-bottom: 1rem;
}

/* formatoo del parrafo */
#meetTheTeam > article > p{
    padding: 0 1rem;
}

/* formato a los iconos de linkedIn y gitHub */

#meetTheTeam article ul{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

#icons{
    margin-left: 10px;
}

#meetTheTeam article ul{
    font-size: 50px;
}

#meetTheTeam article ul a.fa-brands{
font-size: 50px;
text-decoration: none;
color: var(--purple);
}

